extends base

block content
  p Hi #{firstName},
  p Thank you for signing up for QuizBuzz! Please verify your email address by clicking the button below:
  a(href=url, class='button') Verify Email
  p If you didn't create an account with QuizBuzz, you can safely ignore this email.
  p This link is valid for 24 hours.
