extends base

block content
  p Hi #{firstName},
  p Welcome to QuizBuzz! We're excited to have you on board.
  p Get started by exploring our quizzes or create your own to challenge your friends!
  a(href=url, class='button') Get Started
  p If you have any questions, feel free to reply to this email. We're here to help!
